*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.cs text eol=lf
*.py text eol=lf
*.md text eol=lf
*.meta whitespace=-blank-at-eol
*.asset whitespace=-blank-at-eol
*.unity whitespace=-blank-at-eol
*.prefab whitespace=-blank-at-eol
*.controller whitespace=-blank-at-eol
